.new-society-body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  animation: bounce-in-right 1.1s both;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.new-society-body.hide {
  animation: fade-out 0.4s both;
}

.new-society-body .content {
  width: 100%;
  height: 100%;
  display: flex;
  animation: fade-in 0.4s both;
  flex-direction: column;
}

.new-society-body .button {
  animation: fade-in 0.4 ease-in;
  width: 60px;
  z-index: 10;
}

.new-society-body .button .lottie {
  height: 40px;
  width: 40px;
}
.new-society-body .content h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  align-self: center;
  margin-bottom: 20px;
}

.step1 {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  margin-top: 40px;
  animation: fade-in 0.3s ease-in;
}
.step2 {
  animation: fade-in 0.3s ease-in;
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}
.step2 .button {
  flex-direction: column;
  width: 25vw;
  height: 45vh;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.step2 .button .lottie {
  align-self: flex-start;
  height: 20vh;
  width: 10vw;
  align-self: center;
  margin-top: -25vh;
}
.button h4 {
  margin: 0;
  width: 22vw;
  align-self: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(85, 85, 85);
}

.step2 .button p,
.step2 .button h4 {
  margin: 0;
  margin-left: -5vw;
  width: 20vw;
  align-self: center;
  text-align: center;
}
.button .lottie.pin {
  height: 25vh;
  width: 25vh;
  margin-top: -15vh;
}
.button .lottie.pin p,
.button .lottie.pin h4 {
  margin-left: -4vw;
}
.step2 .button p {
  margin-top: 10px;
  color: rgb(155, 155, 155);
}
.button .lottie.lock h4 {
  margin-top: 30px;
}
.button .lottie.lock {
  height: 20vh;
  width: 20vh;
  margin-top: -20vh;
}
.progress-bar-wrapper {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}
.progress-bar-wrapper,
.progress-bar-wrapper * {
  box-sizing: border-box;
}
.new-society-body ul.step-progress-bar {
  max-width: 650px;
  max-height: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
