.profile-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.profile-body h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 2.5rem;
}
span.line {
  height: 5px;
  border-radius: 10px;
  background-color: #e2e2e2;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70vw;
}
.upload-img {
  border: 0.5px #0000001f solid;
  background-color: rgba(255, 255, 255, 0.781);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px #0000001f;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 300px;
  z-index: 10;
  margin-top: 10px;
}
.upload-img img {
  width: 200px;
  object-fit: contain;
  margin-left: 30px;
  margin-right: 30px;
  align-self: center;
  z-index: 5;
  margin-bottom: 20px;
}
.upload-img lottie {
  width: 250px;
  margin-right: 10px;
  align-self: center;
  margin-bottom: 20px;
}

.upload-img p {
  align-self: center;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  color: #9b9b9b;
  margin-top: 20px;
}
.crop-image-body {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.crop-image-body .crop-container {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 300px;
}
.crop-container .reactEasyCrop_Container {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

img.img-upload {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-bottom: 5px;
  height: max-content;
  justify-content: center;
  height: 350px;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  z-index: 5;
  background-color: #ffffff;
}

img.upload-img.noimg {
  padding: 50px;
  width: 200px;
  height: 200px;
}
.profile-body .button {
  background-color: #fff;
  padding-right: 30px;
  align-self: center;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #555a5b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label,
.MuiInputLabel-root {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8em;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, #275efe, #eef0fd);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #275efe;
  font-weight: 400;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.form__group,
.MuiFormControl-root {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  min-width: 280px;
  width: 100%;
}

.info-div {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 85vw;
}

.info-div .pic {
  margin: 10px;
  align-self: center;
}
.info-div .details {
  flex: 1;
  max-width: 450px;
  align-self: center;
  margin-right: 20px;
  background-color: #ffffff7e;
  margin-top: 20px;
}

p.f-t {
  margin-top: 20px;
  font-size: 1rem;
  align-self: center;
  color: #b4b4b4;
}

.profile-body .rdrCalendarWrapper {
  border-radius: 20px;
  z-index: 2;
  background-color: #ffffff9c;
}
.profile-body .rdrDayDisabled {
  background-color: rgba(248, 248, 248, 0.5);
}
.profile-body .crop-image-body {
  z-index: 5;
}
@media screen and (max-width: 1100px) {
  .info-div {
    max-height: 80vh;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info-div .details {
    max-width: 80vw;
    width: 60vw;
  }
  .launch-anim {
    display: none;
  }
}
.button.right,
.button.left {
  position: fixed;
  top: 5px;
  max-width: 160px;
  max-height: 35px;
}
.button.left {
  left: 2vw;
}
.button.right {
  right: 2vw;
}

.launch-anim {
  position: fixed;
  bottom: 0;
}

.launch-anim.right {
  height: 332px;
  width: 400px;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  right: 0;
}

.launch-anim.left {
  height: 290px;
  width: 350px;
  animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  left: 0;
}
